%% -*- erlang -*-
{erl_opts,
    [
        nowarn_deprecated_function,
        nowarn_export_all,
        {no_debug_info},
        {hipe, native}
    ]}.
{deps_dir, ["deps"]}.

{deps_erl_opts, [{hipe, native}]}.

{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{sub_dirs, ["rel"]}.

{deps,
    [
        {recon, ".*", {git, "https://github.com/ferd/recon.git", "master"}}
    ]}.

